<div class="position-ab">
  <img src="assets/images/Desktop.png" alt="back">
</div>
    <ng-template #newsInfo>
        <div class="ep-card news">
          <button (click)="onHide()">
            <i class="pi pi-times"></i>
          </button>
          <div class="news-body">
            <h2>{{ selectedNews.title }}</h2>
            <div class="ep-date">
              <i class="pi pi-calendar"></i>
              <p>
                {{ selectedNews.createdDate | date : "yyyy-MM-dd" }}
              </p>
            </div>
            <img class="news-banner" [src]="selectedNews.images ? selectedNews.images : 'assets/images/default.png'"
              (error)="selectedNews.images = 'assets/images/default.png'" />
            <p [innerHTML]="selectedNews.content"></p>
          </div>
        </div>
      </ng-template>
    <div class="p-6 text-white min-h-screen bg-img">
    <div class="header">
      <img src="assets/images/epost-logo.svg" alt="Logo" />
        <ul>
          <li *ngFor="let i of systemMenu">
            <a [href]="i.link" target="_blank">
              {{ i.systemName }}
            </a>
          </li>
        </ul>
        <div class="containerWeather">
          <div class="upper-data">
            <img src="assets/images/sunny_sun_cloud_time.png" alt="Logo" />
          </div>
          <div class="weather-data">
              <div class="temperature">{{ 14.40 | number: "1.0-0"}}°c</div>
          </div>
          <div class="date-data">2025 Jan 23 <br> 12:30:57</div>
        </div>
    </div>
    <div class="statusList">
      <div class="itemStyle">Нийт орлого<br><span>{{ totalRevenueS }}<span style="font-size: 20px;">₮</span></span></div>
      <div class="itemStyle">Нийт захиалга<br><span>{{ totalOrdersS}}</span></div>
      <div class="itemStyle">Нийт солилцоо<br><span>{{ totalChangesS}}</span></div>
      <div class="itemStyle">Нийт гардуулалт<br><span>{{ totalDeliveriesS}}</span></div>
      <div class="itemStyle">Дундаж гардуулалт<br><span>{{ avgDeliveryS }}</span></div>
    </div>
    <!-- <app-date-search></app-date-search> -->
    <form (ngSubmit)="onSearch()">
      <div class="Datetime-interval">
            <div class="date-item">
              <p>Эхлэх огноо</p>
              <div class="input-date">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  
                </mat-datepicker-toggle>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" name="startDate" placeholder={{placeholder1}} />
                <mat-datepicker #picker1></mat-datepicker>
              </div>
            </div>
            <div class="date-item">
              <p>Дуусах огноо</p>
              <div class="input-date">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                  
                </mat-datepicker-toggle>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" name="endDate" placeholder={{placeholder2}} />
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>
            <button style="cursor: pointer;">Хайх</button>
      </div>
      <div class="warning-text">
          <div *ngIf="loading" >Түр хүлээнэ үү...</div>
          <div *ngIf="inputEmpty" style="color: yellow;">Хайх огноогоо оруулна уу!!!</div>
          <div *ngIf="!loading && results.length === 0 && searched" class="">
              Илэрц олдсонгүй.
          </div>
      </div>
    </form>
    <!-- grapic medeelel container -->
    <div class="main-container">
      <div class="left-side">
            <div class="base-progress">
              <div class="progress-container-main">
                <div class="base-title">Орлого</div>
                <div class="progress-container">
                    <div *ngFor="let item of progressDataOrlogo" class="bg-gray-800 p-4 rounded shadow progress {{item.less}}" style="--i: {{ item.percent }}; --clr: #3B82F6;">
                      <div class="text-xs text-gray-400 procent">{{ item.percent }}<span>%</span></div>
                      <div class="progress-name">
                          <div class="progress-label">{{ item.label }}</div>
                          <div class="progress-total">{{ item.value | number }} <span style="font-size: 10px;">₮</span></div>
                      </div>
                    </div>
                </div>
                
              </div>
              <div class="progress-container-main">
                <div class="base-title">Захиалга</div>
                <div class="progress-container">
                <div *ngFor="let item of progressDataZahialga" class="bg-gray-800 p-4 rounded shadow progress {{item.less}}" style="--i: {{ item.percent }}; --clr: #3B82F6;">
                <div class="text-xs text-gray-400 procent">{{ item.percent }}<span>%</span></div>
                <div class="progress-name">
                    <div class="progress-label">{{ item.label }}</div>
                    <div class="progress-total">{{ item.value | number }}</div>
                </div>
              </div>
              </div>
              </div>
              <div class="progress-container-main">
                <div class="base-title">Солилцоо</div>
                <div class="progress-container">
                <div *ngFor="let item of progressDataSoliltsoo" class="bg-gray-800 p-4 rounded shadow progress {{item.less}}" style="--i: {{ item.percent }}; --clr: #3B82F6;">
                <div class="text-xs text-gray-400 procent">{{ item.percent }}<span>%</span></div>
                <div class="progress-name">
                    <div class="progress-label">{{ item.label }}</div>
                    <div class="progress-total">{{ item.value | number }}</div>
                </div>
              </div>
              </div>
              </div>
              
        </div>
        <div class="charts">
          <!-- <div class="mt-6 mb-4">
          <select [(ngModel)]="selectedType" (change)="onTypeChange(selectedType)" class="bg-gray-700 text-white p-2 rounded">
            <option *ngFor="let type of chartOptionsList">{{ type }}</option>
          </select>
          </div> -->
        <div class="chart-items">
            <div class="line-chart-div">
              <p class="title-chart">Сүүлийн 12 сарын үзүүлэлт</p>
              <div class="width-chart">
                  <app-line-chart></app-line-chart>
              </div>
            </div>
            <div class="column-chart-div">
              <p class="title-chart">Нийт захиалгын тоо салбараар</p>
              <div class="width-chart">
                  <app-column-chart></app-column-chart>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="right-side">
        <div>
          <p class="title">Хяналтын хугацаа</p>
          <app-simple-donut></app-simple-donut>
        </div>
        <p class="title">Мэдээ</p>
        <div class="news-container">
          <div class="ep-card list">
            <div class="listitem">
                <div class="news-item" [ngClass]="{ active: index === selectedIndex }"
                  *ngFor="let i of newsList; let index = index" (click)="onShow(index)">
                  <div class="item-banner">
                    <img [src]="i.images ? i.images : 'assets/images/default.png'"
                      (error)="i.images = 'assets/images/default.png'" />
                  </div>
                  <div class="item-info">
                    <h4>{{ i.title }}</h4>
                    <div class="ep-date">
                      <i class="pi pi-calendar"></i>
                      <p>{{ i.createdDate | date : "yyyy-MM-dd" }}</p>
                    </div>
                  </div>
                </div>
              </div>
         </div>
        </div>
      </div>
      <div class="footer-link">
            <ul>
              <li *ngFor="let i of systemLists">
                <a [href]="i.link" target="_blank">
                  {{ i.systemName }}
                </a>
              </li>
          </ul>
        </div>
    </div>
  </div>
