/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@import "./assets/styles/variable.css";
@import "./assets/styles/mixin.css";
@import "./assets/styles/customize.css";
@import "./assets/styles/style.css";

@import "primeicons/primeicons.css";

html,
body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Roboto", sans-serif;
}
* {
    box-sizing: border-box;
}
.p-6 {
    padding: 6px;
}
.bg-black {
    background: black;
}
.text-white {
    color: white;
}
.text-black {
    color: black;
}

i {
    color: #1e1e1e;
}
.position-ab {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.position-ab img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.min-h-screen {
    min-height: 100vh;
    position: relative;
}

.statusList {
    width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 6px;
}
/* bg-gray-800 p-4 rounded text-center */
.itemStyle {
    font-size: 8px;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
}
.itemStyle span {
    font-size: 15px;
}
.header {
    height: 60px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(19, 197, 188, 0.2);
}
.header img {
    width: 100px;
}
ul {
    display: flex;
    gap: 10px;
    font-size: 8px;
}
.containerWeather {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.upper-data {
    width: 20px;
}
.weather-data .temperature {
    font-size: 15px;
}
.date-data {
    font-size: 5px;
}

.Datetime-interval {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    position: absolute;
    right: 50px;
    font-size: 10px;
}
.input-date {
    display: flex;
    gap: 1px;
}
.input-date input {
    width: 70px;
    color: #fff;
}
.date-item {
    width: 120px;
}

.mat-datepicker-toggle-default-icon {
    color: #fff;
}


/* Арын өнгө, фонтын өнгө, padding өөрчлөх */
.mat-datepicker-content {
  background-color: #131212 !important; /* Арын өнгө */
  color: white !important;              /* Фонтын өнгө */
  padding: 8px !important;              /* Padding багасгах */
}

/* Popup доторхи текст */
.mat-calendar-body-cell-content {
  color: white !important;
  font-size: 14px;
  padding: 4px !important;
}

/* Сонгогдсон огноо */
.mat-calendar-body-selected {
  background-color: #2196f3 !important;
  color: white !important;
}

.warning-text {
    text-align: center;
}

/* progress */
.progress-container-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 3px;
    box-shadow: 8px 8px 8px 8px #657ca31e;
    cursor: pointer;
}
.base-title {
    position: relative;
    top: 40px;
    z-index: 10;
}
.progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.progress {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background: #083684 linear-gradient(to right, transparent 50%, var(--clr) 0);
}
.progress::before {
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.progress::after {
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #000000;
}
.progress::before {
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}
/* hervee utga ni 50% aas baga bol */
.progress.less::before {
    background: #083684;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}

.progress-container .procent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    z-index: 1;
    font-weight: 400;
}
.progress-container .procent span {
    font-size: 1rem;
    font-weight: 400;
}
.progress-container .progress .progress-name {
    width: 200px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}
.progress-container .progress .progress-label {
    font-size: 15px;
}
.progress-container .progress .progress-total {
    font-size: 0.9rem;
}

/* grid grid-cols-3 gap-4 mt-6 */

.base-progress {
    width: 360px;
    height: 600px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-top: 60px;
}
.progress-container {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #000000;
    padding: 20px 0;
}


/* main container */
.main-container {
    display: grid;
    grid-template-columns: auto;
}
.main-container .left-side {
    display: flex;
    gap: 60px;
    margin-left: 10px;
    overflow: hidden;
}
.main-container .left-side .charts {
    border-radius: 5px;
    width: 100%;
    height: 800px;
    background: #000000;
    box-shadow: 8px 8px 8px 8px #657ca31e;
}
.main-container .left-side .chart-items {
    display: flex;
    width: 100%;
    gap: 2px;
}
.main-container .left-side .charts .line-chart-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-container .left-side .charts .column-chart-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.width-chart {
    width: 100%;
}
.main-container .right-side {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 5px;
    background: #000000;
    box-shadow: 8px 8px 8px 8px #657ca31e;
}
#chart-donut {
  max-width: 400px;
  margin: 15px auto;
  padding: 0;
}
.title {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.title-char {
    text-align: center;
    font-size: 18px;
}
.footer-link {
    position: absolute;
    right: 150px;
    bottom: 20px;
}

.apexcharts-tooltip {
  background-color: #222 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
}
.apexcharts-tooltip-title {
  background-color: #333 !important;
  color: #fff !important;
}

.apexcharts-menu {
  background-color: #1e1e1e !important; /* хүссэн dark өнгө */
  color: #fff !important;
  border: 1px solid #444 !important;
}

.apexcharts-menu-item {
  color: #fff !important;
}
input::placeholder {
    color: #b6a8a8;
}


/* Мэдээний хэсэг */

.news-container {
    width: 600px;
    height: 340px;
    overflow-y: scroll;
    margin: 20px auto;
    z-index: 10;
}
.news-container::-webkit-scrollbar {
    width: 5px;
    background: #000000;
    border-radius: 5px;
}
.news-container::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
}
.tableau-position {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    z-index: 1000;
}
.tableau-position button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        background-color: rgb(207, 224, 226);
        border: 0;
        border-radius: 8px;
        align-self: flex-end;
        cursor: pointer;
        outline: none;
}
.ep-card {
  padding: 16px;
  width: 100%;
  border-radius: 5px;
}
.list {
    width: 100%;
}
.ep-card-tableau {
    height: calc(100vh - 110px);
    width: 1064px;
    margin: 0 auto;
}

.h-full {
    height: 100% !important;
}

.listItem {
    padding-right: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}
.news-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.item-banner {
    width: 120px;
    height: 80px;
    margin-right: 30px;
}
.item-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.news {
    display: flex;
      flex-direction: column;
      gap: 16px;

}
.news button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        background-color: rgb(207, 224, 226);
        border: 0;
        border-radius: 8px;
        align-self: flex-end;
        cursor: pointer;
        outline: none;
}
.news-body {
    padding: 0 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.news-body p {
    line-height: 150%;
}


@media screen and (min-width: 1440px) { 
    .header {
    height: 60px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(19, 197, 188, 0.2);
}
.header img {
    width: 120px;
}
ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.containerWeather {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
}
.upper-data {
    width: 30px;
}
.weather-data .temperature {
    font-size: 25px;
}
.date-data {
    font-size: 12px;
}

.itemStyle {
    font-size: 6px;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
}
.itemStyle span {
    font-size: 11px;
}

.Datetime-interval {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    position: absolute;
    right: 70px;
    font-size: 15px;
}
.input-date {
    display: flex;
    gap: 10px;
}
.input-date input {
    width: 110px;
}
.date-item {
    width: 160px;
}
.warning-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.statusList {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-bottom: 6px;
    }
    /* bg-gray-800 p-4 rounded text-center */
    .itemStyle {
        font-size: 18px;
        text-align: center;
        padding: 4px;
        border-radius: 3px;
    }
    .itemStyle span {
        font-size: 35px;
    }

    /* main container */
    .main-container {
        display: grid;
        grid-template-columns: 55% auto;
    }

    .base-progress {
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 60px;
    }
    .progress-container {
        overflow: hidden;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background: #000000;
        padding: 20px 0;
    }

    .main-container .left-side {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 50px;
    overflow: hidden;
}
.main-container .left-side .charts {
    border-radius: 5px;
    width: 100%;
    height: 400px;
    background: #000000;
    box-shadow: 8px 8px 8px 8px #657ca31e;
}
.main-container .left-side .chart-items {
    display: flex;
    width: 100%;
    gap: 2px;
}
.main-container .left-side .charts .line-chart-div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-container .left-side .charts .column-chart-div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.width-chart {
    width: 100%;
}
.main-container .right-side {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 5px;
    background: #000000;
    box-shadow: 8px 8px 8px 8px #657ca31e;
}
 }

@media (min-width: 1280px) and (max-width: 1536px) {
    .base-progress {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 60px;
    }

    .progress {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background: #083684 linear-gradient(to right, transparent 50%, var(--clr) 0);
    }

    .progress-container .progress .progress-label {
    font-size: 10px;
    }
    .progress-container .progress .progress-total {
        font-size: 14px;
    }
    .statusList {
    width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-bottom: 6px;
}

    .itemStyle {
        font-size: 18px;
        text-align: center;
        padding: 4px;
        border-radius: 3px;
        }
        .itemStyle span {
            font-size: 35px;
        }
}  

