<!-- <form (ngSubmit)="onSearch()">
    <div class="Datetime-interval">
        <div class="date-item">
            <p>Эхлэх огноо</p>
            <div class="input-date">
              <lucide-icon [img]="CalendarDays" class="my-icon"></lucide-icon>
              <input type="date" [(ngModel)]="startDate" name="startDate" value="2025-05-01">
            </div>
          </div>
          <div class="date-item">
            <p>Дуусах огноо</p>
            <div class="input-date">
              <lucide-icon [img]="CalendarDays" class="my-icon"></lucide-icon>
              <input type="date" [(ngModel)]="endDate" name="endDate" value="2025-05-31">
            </div>
          </div>
          <button style="cursor: pointer;">Хайх</button>
    </div>
    <div class="warning-text">
        <div *ngIf="loading" >Түр хүлээнэ үү...</div>
        <div *ngIf="inputEmpty" style="color: yellow;">Хайх огноогоо оруулна уу!!!</div>
        <div *ngIf="!loading && results.length === 0 && searched" class="">
            Илэрц олдсонгүй.
        </div>
    </div>
</form> -->